@import url('https://fonts.googleapis.com/css?family=Poppins');

.spacer {
    flex: 1 1 auto;
}

.botao {
    font-family: Poppins;
}

.container {
    min-height: 60%;
    display: flex;
    flex-direction: column;
}

.container > div {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
}

.titulo {
    font-size: 4vw;
    font-family: Poppins;
    color: #00AFB9;
}

.subtitulo {
    font-size: 3vw;
    font-family: Poppins;
}

.texto {
    font-size: large;
    font-family: Poppins;
}
