<mat-toolbar color="primary">
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" />
  <!-- placeholder de imagem -->
  <span class="spacer"></span>
  <button mat-button class="botaobarra"> Criar prontuário </button>
  <button mat-button class="botaobarra"> Visualizar prontuário </button>
  <button mat-button class="botaobarra"> Gerar receita </button>
  <button mat-button class="botaobarra"> Sair </button>
</mat-toolbar>

<div>
<div>
  <div class="texto"> Criar prontuário  </div>
  <div class="texto"> Visualizar prontuário </div>
  <div class="texto"> Gerar receita </div>
</div>
</div>

