<mat-toolbar color="primary">
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" />
  <!-- placeholder de imagem -->
  <span class="spacer"></span>
  <button mat-button class="botaobarra" routerLink="/verreceita"> Visualizar receita </button>
  <button mat-button class="botaobarra" routerLink="/agendamento"> Agendar consulta </button>
  <button mat-button class="botaobarra" routerLink="/verconsulta"> Visualizar consulta </button>
  <button mat-button class="botaobarra" routerLink="/"> Sair </button>
</mat-toolbar>

<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <div>
      <div>
        <div class="texto"> Visualizar receita </div>
        <br/>
        <div class="texto"> Nome do paciente: </div>
        <div class="texto"> Data: </div>
        <div class="texto"> Válido até: </div>
        <div class="texto"> Remédio: </div>
        <div class="texto"> Tipo de uso: </div>
        <div class="texto"> Quantidade:</div>
        <div class="texto"> Intervalo de uso: </div>
        <div class="texto"> Durante: </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>


