<app-home></app-home>
<!-- <app-login></app-login> -->
<!-- <app-cadastro></app-cadastro> -->
<!-- <app-menupaciente></app-menupaciente> -->
<!-- <app-agendarpaciente></app-agendarpaciente> -->
<!-- <app-visualizarconsultapaciente></app-visualizarconsultapaciente> -->
<!-- <app-visualizarreceitapaciente></app-visualizarreceitapaciente> -->
<!-- <app-menumedico></app-menumedico> -->
<!-- <app-gerarreceitamedico></app-gerarreceitamedico> -->
<!-- <app-visualizarprontuariomedico></app-visualizarprontuariomedico> -->
<!-- <app-gerarprontuariomedico></app-gerarprontuariomedico> -->
<!-- <app-menumedicogeral></app-menumedicogeral> -->
<!-- <app-cadastromedico></app-cadastromedico> -->
