 <mat-toolbar color="primary">
    <img src="assets/LogoA.png" />
    <!-- placeholder de imagem -->
    <span class="spacer"></span>
    <button mat-button routerLink="/cadastro" class="botao">Cadastro</button>
    <button mat-button routerLink="/login" class="botao">Login</button>
  </mat-toolbar>

<div class="container">
  <div>
    <div class="titulo">Projeto Angela</div>
    <div class="subtitulo">Cuide da sua saúde mental.</div>
    <div class="texto">
      O Projeto Angela foi desenhado para facilitar a vida dos pacientes e dos
      médicos. Agende já a sua avaliação e comece agora a cuidar da sua saúde.
    </div>
  </div>
</div>

