<mat-toolbar color="primary">
  <img src="assets/LogoA.png" />
  <span class="spacer"></span>
  <button mat-button class="botaobarra" routerLink="/criarprontuario"> Criar prontuário </button>
  <button mat-button class="botaobarra" routerLink="/verprontuario"> Visualizar prontuário </button>
  <button mat-button class="botaobarra" routerLink="/gerarreceita"> Gerar receita </button>
  <button mat-button class="botaobarra" routerLink="/"> Sair </button>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="90vh">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <div>
      <div>
        <br />
        <div class="texto"> Visualizar prontuário </div>
        <br />
        <div class="texto"> Nome do paciente: </div>
        <div class="texto"> Data: </div>
        <div class="texto"> Número: </div>
        <div class="texto"> Queixa principal: </div>
        <div class="texto"> História da doença atual: </div>
        <div class="texto"> História patológica progressiva:</div>
        <div class="texto"> História fisiológica: </div>
        <div class="texto"> História familiar: </div>
        <div class="texto"> História pessoal: </div>
        <div class="texto"> Diagnostico: </div>
        <div class="texto"> Recomendações: </div>
        <div class="texto"> Parecer elaborado por: </div>
        <div class="texto"> História pessoal: </div>
        <p class="texto">Exame Psiquico</p>
        <p class="texto">Exame Fisico</p>
        <button mat-flat-button class="botao" color="primary">Voltar</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>

