<mat-toolbar color="primary">
  <img src="assets/LogoA.png" />
  <span class="spacer"></span>
  <button mat-button class="botaobarra" routerLink="/verreceita"> Visualizar receita </button>
  <button mat-button class="botaobarra" routerLink="/agendamento"> Agendar consulta </button>
  <button mat-button class="botaobarra" routerLink="/verconsulta"> Visualizar consultas </button>
  <button mat-button class="botaobarra" routerLink="/"> Sair </button>
</mat-toolbar>

<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <div>
      <div>
        <div class="texto">Agendar consulta:</div>
        <br />
        <div class="texto"> CPF: </div>
        <form (submit)="onAgenda(agendaForm)"#agendaForm = "ngForm">
          <mat-form-field appearance="outline">
            <mat-label class="texto">CPF</mat-label>
            <input type="text" required matInput name="CPF" placeholder="12345678910" ngModel #agenda="ngModel">
          </mat-form-field>
        <div class="texto"> Data do agendamento: </div>
        <mat-form-field appearance="outline">
          <mat-label class="texto">Data</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br />
        <button mat-flat-button class="botao" color="primary"> Agendar </button>
      </form>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
