<mat-toolbar color="primary">
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" />
  <!-- placeholder de imagem -->
  <span class="spacer"></span>
  <button mat-button class="botaobarra" routerLink="/cadastro">Cadastro</button>
  <button mat-button class="botaobarra" routerLink="/login">Login</button>
</mat-toolbar>

<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <div>
      <div class="texto">Por favor, faça seu login:</div>
      <br />
      <form (submit)="onLogar(loginForm)"#loginForm = "ngForm" >
        <div class="texto"> CPF: </div>
        <mat-form-field appearance="outline">
          <mat-label class="texto">CPF</mat-label>
          <input type="text" required matInput placeholder="123.456.789-10" name="cpfPaciente" ngModel #cpfPaciente="ngModel">
        </mat-form-field>
        <div class="texto"> Senha: </div>
        <mat-form-field appearance="outline">
          <mat-label class="texto">Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br />
        <button mat-flat-button class="botao" color="primary" (click)="logar()"> Login </button>
      </form>
    </div>

  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
