<mat-toolbar color="primary">
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" />
  <!-- placeholder de imagem -->
  <span class="spacer"></span>
  <button mat-button class="botaobarra" routerLink="/criarprontuario"> Criar prontuário </button>
  <button mat-button class="botaobarra" routerLink="/verprontuario"> Visualizar prontuário </button>
  <button mat-button class="botaobarra" routerLink="/gerarreceita"> Gerar receita </button>
  <button mat-button class="botaobarra" routerLink="/"> Sair </button>
</mat-toolbar>

<mat-grid-list cols="3">
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
      <mat-card-actions>
        <button mat-button class="texto" routerLink="/criarprontuario">Criar prontuário</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
      <mat-card-actions>
        <button mat-button class="texto" routerLink="/verprontuario">Visualizar prontuário</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
      <mat-card-actions>
        <button mat-button class="texto" routerLink="/gerarreceita">Gerar receita</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
