@import url('https://fonts.googleapis.com/css?family=Poppins');

.spacer {
  flex: 1 1 auto
}

.botaobarra {
  font-family: Poppins;
}
.texto {
  font-family:Poppins;
  font-size: large;
  text-align: center;
}
