<mat-toolbar color="primary">
  <img src="assets/LogoA.png" />
  <span class="spacer"></span>
  <button mat-button class="botaobarra" routerLink="/criarprontuario"> Criar prontuário </button>
  <button mat-button class="botaobarra" routerLink="/verprontuario"> Visualizar prontuário </button>
  <button mat-button class="botaobarra" routerLink="/gerarreceita"> Gerar receita </button>
  <button mat-button class="botaobarra" routerLink="/"> Sair </button>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="assets/caneta.jpg">
      <mat-card-actions>
        <button mat-button class="texto" routerLink="/criarprontuario">Criar prontuário</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="assets/visualizar.png">
      <mat-card-actions>
        <button mat-button class="texto" routerLink="/verprontuario">Visualizar prontuário</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="assets/receitamedica.png">
      <mat-card-actions>
        <button mat-button class="texto" routerLink="/gerarreceita">Gerar receita</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
