<mat-toolbar color="primary">
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" />
  <!-- placeholder de imagem -->
  <span class="spacer"></span>
  <button mat-button class="botaobarra" routerLink="/criarprontuario"> Criar prontuário </button>
  <button mat-button class="botaobarra" routerLink="/verprontuario"> Visualizar prontuário </button>
  <button mat-button class="botaobarra" routerLink="/gerarreceita"> Gerar receita </button>
  <button mat-button class="botaobarra" routerLink="/"> Sair </button>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="19px">

  <mat-grid-tile class="texto" colspan="2" rowHeight="20px">
    <div>
      Gerar receita
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="48">
    <div style="width:80%;background-color:white;display: flex;">
      <div style="width:60%">
        <form>
          <div class="texto"> Selecione o paciente: </div>
          <mat-form-field appearance="outline">
            <mat-label class="texto">Paciente</mat-label>
            <mat-select class="texto" name="Paciente">
            </mat-select>
          </mat-form-field>
          <br />
          <div class="texto"> Data: </div>
          <mat-form-field appearance="outline">
            <mat-label class="texto">Data</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br />
          <div class="texto"> Válido até: </div>
          <br />
          <div class="texto"> Remédio: </div>
          <mat-form-field appearance="outline">
            <mat-label class="texto">Remédio</mat-label>
            <input class="texto" matInput placeholder="Remédio">
          </mat-form-field>
          <br />
          <div class="texto"> Tipo de uso: </div>
          <mat-form-field appearance="outline">
            <mat-label class="texto">Tipo de uso</mat-label>
            <input class="texto" matInput placeholder="Oral, intravenoso">
          </mat-form-field>
          <br />
          <div class="texto"> Quantidade: </div>
          <mat-form-field appearance="outline">
            <mat-label class="texto">Quantidade</mat-label>
            <input class="texto" matInput placeholder="1 comprimido">
          </mat-form-field>
          <br />
          <div class="texto"> Intervalo de uso: </div>
          <mat-form-field appearance="outline">
            <mat-label class="texto">Intervalo de uso</mat-label>
            <input class="texto" matInput placeholder="De 8 em 8 horas">
          </mat-form-field>
          <br />
          <div class="texto"> Durante: </div>
          <mat-form-field appearance="outline">
            <mat-label class="texto">Durante</mat-label>
            <input class="texto" matInput placeholder="5 dias">
          </mat-form-field>
          <br />
        </form>
      </div>
      <div style="width:40%;background-color:#dde4e3">
        dajdkj kjsjksjkj
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <button mat-flat-button class="botao" color="primary" >Gerar receita</button>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
