<mat-toolbar color="primary">
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" />
  <!-- placeholder de imagem -->
  <span class="spacer"></span>
  <button mat-button class="botaobarra"> Criar prontuário </button>
  <button mat-button class="botaobarra"> Visualizar prontuário </button>
  <button mat-button class="botaobarra"> Gerar receita </button>
  <button mat-button class="botaobarra"> Cadastrar médico </button>
  <button mat-button class="botaobarra"> Sair </button>
</mat-toolbar>

<div>
  <div>
    <div class="texto">Faça o cadastro: </div>
    <div class="texto"> Nome: </div>
    <div class="texto"> Sobrenome: </div>
    <div class="texto"> CPF: </div>
    <div class="texto"> CRM:</div>
    <div class="texto"> Senha: </div>
    <div class="texto"> Confirme a senha: </div>
    <button mat-flat-button class="botao" color="primary"> Cadastro </button>
  </div>
</div>

