<mat-toolbar color="primary">
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" />
  <!-- placeholder de imagem -->
  <span class="spacer"></span>
  <button mat-button class="botaobarra"> Visualizar receita </button>
  <button mat-button class="botaobarra"> Agendar consulta </button>
  <button mat-button class="botaobarra"> Visualizar consultas </button>
  <button mat-button class="botaobarra"> Sair </button>
</mat-toolbar>

<div>
  <div>
    <div class="texto"> Visualizar consultas </div>
    <div class="texto">Nome do paciente:</div>
    <div class="texto">Data e hora:</div>
    <div class="texto"> CPF: </div>
    <div class="texto"> Tipo de paciente: </div>
    <div class="texto"> Número do plano de saúde:</div>
  </div>
</div>
