<mat-toolbar color="primary">
  <img src="assets/LogoA.png" />
  <span class="spacer"></span>
  <button mat-button class="botaobarra" routerLink="/criarprontuario"> Criar prontuário </button>
  <button mat-button class="botaobarra" routerLink="/verprontuario"> Visualizar prontuário </button>
  <button mat-button class="botaobarra" routerLink="/gerarreceita"> Gerar receita </button>
  <button mat-button class="botaobarra" routerLink="/"> Sair </button>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="285vh">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <div>
    <div class="texto" style="text-align:center"> Gerar prontuário </div>
    <br />
    <form>
      <div class="texto"> Nome do paciente: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">Nome do paciente</mat-label>
        <input matInput>
      </mat-form-field>
      <div class="texto"> Queixa principal: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">Queixa principal: </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="texto"> História de doença atual: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">História de doença atual: </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="texto"> História patológica progressiva: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">História patológica: </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="texto"> História fisiológica: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">História fisiológica: </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="texto"> História familiar: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">História familiar: </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="texto"> História pessoal: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">História pessoal: </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="texto"> Diagnóstico: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">Diagnóstico: </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="texto"> Recomendações: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">Recomendações: </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <br />
      <div class="texto"> Exame Psíquico: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">Exame Psíquico: </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <br />
      <div class="texto"> Exame Físico: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">Exame Físico: </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="texto"> Parecer elaborado por: </div>
      <mat-form-field appearance="outline">
        <mat-label class="texto">Médicos (as)</mat-label>
        <!-- dar um jeito de colocar os médicos q forem inseridos na tabela aqui nesse select -->
        <mat-select>
          <mat-option class="texto" value="one">Médico 1</mat-option>
          <mat-option class="texto" value="two">Médico 2</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button mat-flat-button class="botao" color="primary">Criar</button>
  </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
