<mat-toolbar color="primary">
  <img src="assets/LogoA.png" />
  <span class="spacer"></span>
  <button mat-button class="botaobarra" routerLink="/verreceita"> Visualizar receita </button>
  <button mat-button class="botaobarra" routerLink="/agendamento"> Agendar consulta </button>
  <button mat-button class="botaobarra" routerLink="/verconsulta"> Visualizar consultas </button>
  <button mat-button class="botaobarra" routerLink="/"> Sair </button>
</mat-toolbar>

<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <div>
    <div class="texto"> Visualizar consultas </div>
    <br/>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Consulta Paciente 1
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Nome completo do paciente:
          Data e horário:
          CPF:
          Número do plano de saúde:
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Consulta Paciente 2
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>informações</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
